/**
 * Copyright 2015-2016 by Jesse Jaara <jesse.jaara@gmail.com>
 * Copyright 2015-2016 by Jussi Karhu <karhu.jussi.t@student.uta.fi>
 *
 * This file is part of IVEditor.
 *
 * IVEditor is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the
 * Free Software Foundation, either version 3 of the License,
 * or (at your option) any later version.
 *
 * IVEditor is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with IVEditor.
 * If not, see <http://www.gnu.org/licenses/>.
 *
 * @license GPL-3.0+ <http://spdx.org/licenses/GPL-3.0+>
 */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    text-align: center;
    font: 14px "Lucida Sans Unicode", sans-serif;
}

html, body {
    height: 100%;
}

#container canvas {
    margin-bottom: -7px;
}

#frameholder {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.85);
    color: rgb(225, 225, 225);
    letter-spacing: 1px;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#frameholder header {
    border-radius: 5px 5px 0 0;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
}

#frameholder h1 {
    float: left;
    margin: 0;
    text-align: center;
    width: 100%;
    font-weight: 200;
    font-size: 1.6em;
}

#frameholder main {
    height: 100%;
    flex: 1;
    overflow-y: scroll;
    padding: 20px 25px;
}

#frameholder main img {
    max-width: 90%;
    max-height: 400px;
    margin: auto;
    display: block;
}

#frameholder.hidden {
    display: none;
}

#closebtn {
    background: none;
    margin-left: -32px;
    width: 32px;
    height: 32px;
    font-size: 20px;
    color: rgb(225, 225, 225);
    float: right;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-style: none;
}

#frameholder footer {
    padding: 15px;
    border-radius: 0 0 5px 5px;
}

#frameholder footer div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#frameholder footer div button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background: none;
    color: rgb(90, 200, 90);
    padding: 10px;
    position: relative;
}

#frameholder footer div button:after {
    content: '';
    background: none;
    position: absolute;
    bottom: -10px;
    width: 20px;
    height: 2px;
    border-top: 2px solid rgb(90, 200, 90);
    left: calc(50% - 10px);
}

.iconHolder {
    margin: 4em auto 0;
}

.iconHolder i {
    margin: 0;
    padding: 0;
}

#spinner {
    cursor: default;
    color: rgba(170, 170, 170, 1);
}

#spinner i {
    font-size: 2.6em;
}

#startPlayBtn {
    cursor: pointer;
    margin-top: 3.6em;
    color: rgba(19,191,17,1);
}

#startPlayBtn i {
    font-size: 3em;
}

#spinner:after, #startPlayBtn:after{
    margin-top: 1.5em;
    display: block;
}

#spinner:after {
    content: 'Loading...';
}

#startPlayBtn:after {
    content: 'Click here to play!';
}

#instructions {
    max-width: 500px;
    margin: 50px auto;
    padding: 0 2em;
}

#instructions h2 {
    font-size: 1.3em;
}

#instructions h3 {
    font-size: 1.2em;
}

@keyframes opening {
    from {
        border-color: transparent;
        background-color: transparent;
        width: calc(2em + 20px);
        height: calc(2em + 20px);
    }

    to {
        width: 300px;
        height: 300px;
        top: calc(50% - 150px);
        left: calc(50% - 150px);
        background-color: rgba(255,255,255, 1);
        border-color: rgba(170, 170, 170, 1);
    }
}

.opening {
    animation-name: opening;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    border: 1px solid;
}

@keyframes closing {
    from {
        width: 300px;
        height: 300px;
        top: calc(50% - 150px);
        left: calc(50% - 150px);
        background-color: rgba(255,255,255, 1);
        border-color: rgba(170, 170, 170, 1);
    }

    to {
        top: 0;
        left: 0;
        background-color: transparent;
        border-color: transparent;
        width: calc(2em + 20px);
        height: calc(2em + 20px);
    }
}

.closing {
    animation-name: closing;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    border: 1px solid;
}

#settingsContainer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: transparent;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid transparent;
    width: calc(2em + 20px);
    height: calc(2em + 20px);
    overflow: hidden;
    text-align: left;
}

#settings {
    min-width: 200px;
    text-align: center;
}

#settings h4 {
    font-weight: 400;
}

#settingsContainer i, #fsContainer i{
    cursor: pointer;
    color: rgba(170, 170, 170, 1);
}

.toggleContainer {
    width: 60px;
    margin: 10px auto 0;
    text-align: center;
}

.toggle,
.toggle:active {
  position: absolute;
  top: -9999px;
  height: 0;
  width: 0;
  opacity: 0;
  border: none;
  outline: none;
}

.checkbox-label {
  display: block;
  position: relative;
  padding: 10px;
  margin: 20px auto;
  font-size: 14px;
  line-height: 16px;
  width: 100%;
  height: 36px;
  border-radius: 18px;
  background: rgb(249, 249, 249);
  cursor: pointer;
}

.checkbox-label, .checkbox-label:before, .checkbox-label:after {
    transition: all .25s linear;
}

.checkbox-label:before {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  line-height: 34px;
  text-indent: 40px;
  height: 36px;
  width: 36px;
  border-radius: 100%;
  top: 0px;
  left: 0px;
  right: auto;
  background: white;
  box-shadow: 0 3px 3px rgba(0,0,0,.2), 0 0 0 2px rgb(221, 221, 221);
}

.checkbox-label:after {
    content: attr(data-off);
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: -300px;
    padding: 10px;
    height: 100%;
    width: 300px;
    text-align: right;
    color: rgb(191, 191, 191);
    white-space: nowrap;
}

.toggle:checked + .checkbox-label {
  box-shadow: inset 36px 0 0 0 rgba(19,191,17,1), 0 0 0 0 rgba(19,191,17,1);
}

.toggle:checked + .checkbox-label:before {
  left: calc(100% - 36px);
  box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(0,0,0,.3);
}

.toggle:checked + .checkbox-label:after {
    content: attr(data-on);
    left: 60px;
    width: 36px;
}

#fsContainer {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    background: none;
    padding: 10px;
}

.hidden, .hidden *{
    display: none;
}

@media screen and (min-width: 1024px) {
    #frameholder {
        width: 800px;
        left: calc(50% - 400px);
        top: calc(50% - 350px);
        height: auto;
        border-radius: 10px;
    }

    #frameholder main {
        padding: 20px 50px;
    }
}

#pbar {
    width: 400px;
    margin-top: 2em;
}
