/**
 * Copyright 2015-2016 by Jesse Jaara <jesse.jaara@gmail.com>
 * Copyright 2015-2016 by Jussi Karhu <karhu.jussi.t@student.uta.fi>
 *
 * This file is part of IVEditor.
 *
 * IVEditor is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the
 * Free Software Foundation, either version 3 of the License,
 * or (at your option) any later version.
 *
 * IVEditor is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with IVEditor.
 * If not, see <http://www.gnu.org/licenses/>.
 *
 * @license GPL-3.0+ <http://spdx.org/licenses/GPL-3.0+>
 */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: #000000;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

div {
    display: block;
}

button{
  margin      : 0;
  padding     : 0;
  border      : 0;
  background  : transparent;
  font-family : inherit;
  font-size   : 1em;
  cursor      : pointer;
}

button::-moz-focus-inner{
  padding : 0;
  border  : 0;
}

.videocontrolscontainer{
    width: 100%;
    bottom: 50px;
    position: relative;
}

.videocontrols {
    width: 414px;
    height:40px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    color: white;
}

.videocontrols > button, .videocontrols > input, .videocontrols > span {
    margin: 10px;
    float: left;
}

.videocontrols > input {
    margin-top: 8px;
    width: 200px;
}

.videocontrols > :last-child {
    float: right;
}

.videocontrols:after {
    clear: both;
}

.button {
    display: inline-block;
    background-size: contain;
    height: 16px;
    width: 16px;
    color: #ffffff;
}

.button:hover {
    color:#c4c4c4;
}

/* EDITOR */

.dg .c {
    color: #000;
}

.dg .c select {
    width: 170px;
}

#editor {

  font: 11px 'Lucida Grande', sans-serif;
  display: block;
  position: absolute;
  width: 300px;
  left: 15px;
  top: 0;
  margin: 0;
  background-color: #111;
  color: #eee;
  height: auto;
}

#editor ::-webkit-scrollbar {
    visibility: visible;
    width: 10px;
}

#editor ::-webkit-scrollbar-thumb {
    background-color: #2C2C2C;
    border-radius: 5px;
    border: 1px solid #111;
}

#editor .cr , #editor > h3{
    cursor: pointer;
}

#editor > h3 {
    text-align: center;
    font: inherit;
    font-size: 1.2em;
}

#editor .editorBtn {
  padding: 0;
  background: #000;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

#editor .editorBtn > button {
    width: 100%;
    height: 100%;
}

#editor .editorBtn > button > i {
    color: green;
    display: inline-block;
    float: right;
    margin-right: 15px;
    line-height: 28px;
}

#editor .editorBtn:hover {
    background-color: #111;
}

#editor .editorBtn:first-of-type {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

#editor .editorBtn:last-of-type {
    border-bottom: none;
}

#projectList {
    max-height: 600px;
    overflow-y: auto;
}
#projectList li {
  overflow: visible;
  height: auto;
  border-bottom: none;
}

#projectList li:not(.folder) {
  padding-right: 0;
}

#projectList .cr.scene {
    margin: 0;
    padding: 0;
}

#projectList .cr.node {
    padding: 0;
}

#projectList li > .header, #projectList .cr.node > div {
    border-bottom: 1px solid #2C2C2C;
}

#projectList .cr.scene > div:first-of-type > span:first-of-type {
    margin-left: 20px;
}

#projectList .cr.node > div:first-of-type > span:first-of-type {
    margin-left: 30px;
}

#projectList .scene{
    border-bottom: none;
}

#projectList li.cr.selected {
    color: #1ed36f;
}

.foldable > .dg.node {
    height: 0;
    overflow: hidden;
    border-bottom: none;
}

.foldable > div:first-of-type > span:first-of-type:before {
    font-family: FontAwesome;
    content: '\f105';
    margin-right: 5px;
    margin-left: -9px;

}

.foldable.open > div:first-of-type > span:first-of-type:before {
    font-family: FontAwesome;
    content: '\f107';
    margin-right: 5px;
    margin-left: -12px;

}

.foldable.open > .dg.node {
    height: auto;
}
.delBtn {
    color: red;
    display: inline-block;
    float: right;
    margin-right: 15px;
}

.listicon {
    margin-right: 5px;
}

.hideMouse {
    cursor: none;
}

.icondialog .ui-widget-content{
    color: #ffffff;
    font: 14px 'Lucida Grande', sans-serif;
    text-align: center;
}

.icondialog input {
    color: #000000;
    width: 200px;
}

.icondialog .ui-dialog-buttonpane {
    background: none;
    border: none;
    text-align: center;
}

.icondialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: none;
}

#tnEditor {
    background: #1A1A1A;
    color: #ffffff;
    font: 12px 'Lucida Grande', sans-serif;
}

#tabs {
    display: inline-block;
    margin-top: 10px;
}

#newFrameBtn:before {
    content: 'Add frame';
    margin-right: 5px;
}

#newFrameBtn > i, #newLinkBtn > i {
    color: #1ed36f;
    font-size: 12px;
}

.delBtn > i {
    font-size: 12px;
}

#headline {
    margin: 15px;
    width: 50%;
    background: rgb(41,41,41);
    border: none;
    padding: 3px 3px 3px 10px;
}

.tntab {
    background: rgb(41,41,41);
    border-radius: 5px;
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.mainFrame {
    color: red
}

.tntab.selected {
    color: #1ed36f;
}

.tntab .delBtn {
    margin-right: 5px;
    margin-left: 15px;
    font-size: 0.8em;
    line-height: 14px;
}

.ui-dialog.ui-widget {
    background: rgb(41,41,41);
}

.ui-draggable .ui-dialog-titlebar {
    background: none;
    border: none;
}

.ui-draggable .ui-dialog-titlebar .ui-dialog-titlebar-close {
    background: none;
    border: none;
    padding: 15px;
    margin-top: -15px;
}

.ui-draggable .ui-dialog-titlebar .ui-dialog-titlebar-close > .ui-button-text {
    position: absolute;
    left: -9999px;
}

#linklist input {
    background: rgb(41,41,41);
    border: none;
}

#linklist li {
    list-style: none;
}
#linklist li:before {
    content: "\f105";
    font-family: FontAwesome;
    color: rgb(41,41,41);
    margin-right: 5px;
}

#linklist > li > input {
    background: rgb(41,41,41);
    border: none;
    padding: 5px;
    margin-bottom: 5px;
}

#linklist > li > select {
    color: black;
    width: 150px;
    margin-right: 15px;
}

#linklist > li > i {
    margin: 0 15px;
}

#linklist > li > button {
    color: red;
}

#newLinkBtn:before {
    content: 'Add link';
    margin-right: 5px;
}

.hue-field {
    position: absolute;
}

.hidden, .hidden *{
    display: none;
}

#spinner {
    color: rgba(170, 170, 170, 1);
    position: absolute;
    top: calc(50% - 4em);
    left: calc(50% - 1.3em);
    text-align: center;
}

#spinner i {
    font-size: 2.6em;
    margin: 0;
}

#spinner:after {
    margin-top: 1.5em;
    display: block;
    content: 'Loading...';
}
